TMDB_API_KEY=0cc6bfd91cbdb1775b79fd4267b9e3c2
TMDB_READ_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwY2M2YmZkOTFjYmRiMTc3NWI3OWZkNDI2N2I5ZTNjMiIsIm5iZiI6MTc3NjMxMDY5MS4zMTIsInN1YiI6IjY5ZTA1OWEzNDEzMDRhMzRkZDM5NGExMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.vaGx7CG_gCVlpm9niMwMkuw4nsiGVxYCGUhkEa7yTfw
PINGUIM_SECRET_KEY=pinguim-secret-key-2026
